<ion-content>
	<ion-card>
		<!-- Inputs with labels -->

		<ion-item>
			<ion-label position="floating">Name</ion-label>
			<ion-input></ion-input>
		</ion-item>

		<ion-item>
			<ion-label position="floating">Quantity</ion-label>
			<ion-input type="number"></ion-input>
		</ion-item>
		
		<ion-item>
			<ion-label position="floating">Category</ion-label>
			<ion-input></ion-input>
		</ion-item>

		<ion-button expand="full" color="success" (click)="addProduct()">Add</ion-button>
	</ion-card>
</ion-content>